#test {
  font-size: 30px;
  font-style: oblique;

}

#welcome {
  text-align: center;
  font-style: italic;
}
#can{
    border: 1px solid black;
    cursor:crosshair;
}
.on{
    background-color:#f1f1f1;
    text-indent:10px;
}
.global-color li{
    cursor:crosshair;
}
.global-color li:hover{
    text-decoration:underline;
}
#test2 {
  background-image: url("/Users/Student/Documents/GitHub/finalcapstone/Final-Capstone/images/city3.jpg");
  background-size: 100%;
  width:100%;
height:100%;
  background-repeat: no-repeat;
}

#canvas {
    width:auto; // previously 2000px for both
    height:auto;
    border: 10px solid black;
    margin: 0 0 0 0;
}
.rectangle {
    border: 1px solid #FF0000;
    height: auto;
    position: absolute;
}

#test3 {
  background-image: url("/Users/Student/Documents/GitHub/finalcapstone/Final-Capstone/images/nice.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
#test4 {
  background-image: url("/Users/Student/Documents/GitHub/finalcapstone/Final-Capstone/images/testo2.jpg");
  background-size: 100%;
  width:100%;
height:100%;
  background-repeat: no-repeat;
}

#two {

}

.img-circle {
    border-radius: 50%;

}

#circular {
  width: 200px;
  text-align: left;
  line-height:30px;
  padding:-200px 0;
}


#logo{
  width: auto;
  height: auto;
  padding: 0 0 0 15px;
  margin: 20px auto 0px auto;
  text-align: center;
}



#loc {
  width: auto;
  height: auto;
  padding: 0 0 0 15px;
  margin: 75px 100px 20000px auto;
  text-align: center;
}

#dp {
  width: auto;
  text-align: center;
  height: auto;
  margin: 0px 0px 0px 350px;
}
#dpb {
  background-color: #FFFFCC;
  height: 300px;
  width: 500px;
}
#nice {
  width: auto;
  height: auto;
  padding: 0 0 0 -1000px;
  margin: 75px 200px 200px 90px;
  text-align: center;
  border-color: black;
}
.carousel-inner img {
  margin: auto;
}

#nice2 {
  width: auto;
  height: auto;
  padding: 100 80px 0 15px;
  margin: -100px 300px 200px 300px ;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Quattrocento', serif;
}

#button {
  font-family: 'Poly', serif;
  width: auto;
  height: auto;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  align-content: center;
  font-size: 20px;


}
body {

  background-image: url("/Users/Student/Documents/GitHub/finalcapstone/Final-Capstone/images/city5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#contacto {
  background-color: #999;
}
#form-wrap {
  width: 600px;
  border: 5px solid #ccc;
  background-color: #afc8de;
  margin: 50px auto;
  padding: 20px 0;
}
form {
  width: 500px;
  margin: 0 auto;
}
label {
  display:block;
  margin: 5px 0 5px 20px;
  font: 18px san-serif;
  color: #888;
}
input {
  width: 250px;
  margin: 0 0 0 20px;
}
textarea {
  width: 250px;
  margin: 0 0 0 20px;
}
fieldset {
  border:none;
  background-color: #f6f6f6;
  padding: 0 0 20px 0;
}
.labelone {
  margin-top: 10px;
}
.btn2{
  width: 125px;
}
form h4 {
  margin: 20px 0 0 30px;
  font: 24px sans-serif;
  color: #cdcdcd;
  font-weight: bold;
}
